POSTGRES_USER=freelancehub
POSTGRES_PASSWORD=freelancehub_dev
POSTGRES_DB=freelancehub
POSTGRES_PORT=5432
API_PORT=8000
DB_URL=postgresql://freelancehub:freelancehub_dev@localhost:5432/freelancehub
SECRET_KEY=change-moi-en-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30